.catalog-eat-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 27px;

  border-bottom: 1px solid $lighter-grey;

  @media screen and (min-width: $tablet-width) {
    align-items: flex-start;

    padding-left: 30px;
    padding-right: 30px;

    border-bottom: none;
  }
}

.catalog-eat-cat__header {
  margin-top: 0;
  margin-bottom: 0;

  padding-bottom: 41px;

  color: $black;
  font-size: 36px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: none;

  border-bottom: 1px solid $lighter-grey;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    text-align: left;
    line-height: 60px;

    margin-bottom: 13px;
  }
}

.catalog-eat-cat__list {
  list-style: none;

  margin-top: 0;

  padding-left: 0;

  @media screen and (min-width: $tablet-width) {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    margin-top: 40px;
  }
}

.catalog-eat-cat__item {
  @media screen and (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 45px;

    position: relative;

    padding-top: 8px;
    padding-right: 37px;
    padding-left: 39px;
    padding-bottom: 40px;
  }

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    min-height: 430px;

    background-color: $very-light-grey;
  }

  &:nth-child(2n) {
    @media screen and (min-width: $tablet-width) {
      margin-left: 30px;
    }
  }

  &:nth-child(2n + 1) {
    @media screen and (min-width: $tablet-width) {
      margin-right: 30px;
    }
  }

  &:last-child {
    &::before {
      @media screen and (min-width: $tablet-width) {
        display: block;

        content: " ";

        background: none;

        outline: 2px solid $very-light-grey;
      }
    }
  }

  @media screen and (min-width: $tablet-width) {
    width: 324px;
    min-height: 511px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.catalog-eat-cat__item-container {
  margin-bottom: 6px;

  padding-top: 11px;
  padding-bottom: 13px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.catalog-eat-cat__item-container-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-right: 20px;
  padding-left: 21px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 140px;
  }
}

.catalog-eat-cat__item-container-add-img {
  @media screen and (min-width: $tablet-width) {
    padding-top: 52px;
  }
}

.catalog-eat-cat__item-container-add-img-img {
  @media screen and (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog-eat-cat__item-container-add-p-one {
  color: $dark-black;
  font-size: 16px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

.catalog-eat-cat__item-container-add-p-one-br {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-eat-cat__item-container-add-p-two {
  color: $light-black;
  font-size: 12px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
  }
}

.catalog-eat-cat__item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;

  margin-top: 7px;
  margin-bottom: 14px;
}

.catalog-eat-cat__img-eat {
  margin-bottom: -7px;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.catalog-eat-cat__img-eat-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-eat-cat__item-wrap-div {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
  }
}

.catalog-eat-cat__item-wrap-div-p {
  color: $lighter-black;
  font-size: 16px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
  }
}

.catalog-eat-cat__item-wrap-personal-button {
  width: 100%;
  min-height: 40px;

  position: relative;

  color: $light-black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;

  background-color: $light-grey;

  border: none;

  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}

.catalog-eat-cat__item-wrap-ul {
  list-style: none;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 0;
}

.catalog-eat-cat__item-wrap-li {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    border-bottom: 2px solid $very-lighter-grey-two;
  }
}

.catalog-eat-cat__item-wrap-li-p {
  margin-top: 0;
  margin-bottom: 0;

  color: $light-black;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;

    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.catalog-eat-cat__item-wrap-button {
  background-color: $green-main;

  position: relative;

  width: 100%;
  min-height: 40px;

  margin-top: 0;
  margin-bottom: 0;

  color: $white;
  font-size: 16px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;

  border: none;

  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}
