.effect-eat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  margin-top: -96px;

  padding-right: 30px;
  padding-left: 30px;

  @media screen and (min-width: $tablet-width) {
    align-items: flex-start;

    width: 768px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 100%;

    position: relative;
  }
}

.effect-eat__container {
  position: relative;

  width: 320px;
  height: 384px;

  background-color: $green-main;
  background-image: url("../../img/index-bg-cat-desktop.jpg");
  background-position-x: -154px;
  background-position-y: 81px;

  &::after {
    content: " ";

    position: absolute;
    top: 0;

    width: 100%;
    min-height: 384px;

    background-color: $green-main;
    background-size: cover;

    opacity: 0.85;
  }

  @media screen and (min-width: $tablet-width) {
    background: none;

    width: 100%;

    &::after {
      background: none;
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 111px;

    padding-left: 80px;
  }
}

.effect-eat__container-span {
  display: block;

  position: relative;

  width: 100%;
  min-height: 82px;

  background-color: $white;

  z-index: 2;

  @media screen and (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.effect-eat__header {
  position: relative;

  margin-top: 27px;
  margin-bottom: 2px;

  color: $white;
  font-size: 36px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: none;

  z-index: 2;

  @media screen and (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    text-align: left;
    line-height: 60px;

    margin-left: 87px;
  }
}

.effect-eat__info {
  position: relative;

  margin-top: 23px;
  margin-bottom: 2px;

  color: $white;
  font-size: 14px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-transform: uppercase;

  z-index: 2;

  @media screen and (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;

    margin-bottom: 10px;
    margin-left: 87px;
  }
}

.effect-eat__container-tablet {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.effect-eat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  @media screen and (min-width: $desktop-width) {
    position: relative;

    z-index: 5;
  }
}

.effect-eat__wrapper-bg-tablet {
  @media screen and (min-width: $tablet-width) {
    margin-top: -87px;
  }
}

.effect-eat__wrapper-tablet {
  @media screen and (min-width: $tablet-width) {
    width: auto;

    margin-top: -60px;
    margin-right: auto;
    margin-left: 87px;

    position: relative;

    z-index: 2;
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;

    padding-left: 80px;

    z-index: 5;
  }
}

.effect-eat__img-span {
  @media screen and (min-width: $tablet-width) {
    background-image: url("../../img/eat-cat-tablet.png");

    width: 709px;
    height: 609px;
  }

  @media screen and (min-width: $desktop-width) {
    background-image: url("../../img/eat-cat-desktop.png");

    width: 552px;
    height: 499px;

    margin-top: -292px;
    margin-left: 500px;
  }
}

.effect-eat__img {
  position: relative;

  margin-top: -137px;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.effect-eat-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 40px;

  color: $white;
  font-size: 14px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: uppercase;

  background-color: $green-main;

  @media screen and (min-width: $tablet-width) {
    width: 100%;
    min-width: 244px;
    min-height: 54px;

    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;

    z-index: 5;
  }
}
