.footer-info-company {
  width: 100%;
  max-width: 767px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;

  @media screen and (min-width: $tablet-width) {
    min-width: 768px;
    max-width: 1439px;

    padding-right: 30px;
    padding-left: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.footer-info-company-index {
  @media screen and (min-width: $desktop-width) {
    background-color: $light-grey;
  }
}

.footer-info-company-catalog {
  background-color: $light-grey-rgba;
}

.footer-info-company-form {
  background-color: $light-grey-rgba;
}

.footer-info-company-empty {
  @media screen and (min-width: $desktop-width) {
    background-color: $light-grey;
  }
}

.footer-info-company__wrap {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding-left: 0;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-info-company__wrap-container {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 0;
}

.footer-info-company__wrap-item {
  width: 100%;
  min-height: 63px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid $grey;

  &:last-child {
    border-bottom: none;
  }

  @media screen and (min-width: $tablet-width) {
    position: relative;

    border-bottom: none;
  }
}

.footer-info-company__wrap-container-item-link-logo {
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    left: 0;
  }
}

.footer-info-company__wrap-item-link {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: $lite-black;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;

  @media screen and (min-width: $tablet-width) {
    justify-content: space-around;

    padding-left: 71px;
  }
}
