.header-nav {
  @media screen and (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.header-nav__nav {
  position: relative;

  list-style: none;

  display: flex;
  flex-direction: column;

  margin-top: 0;

  padding-left: 0;

  z-index: 3;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.header-nav__wrap-top-nav {
  list-style: none;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid $lighter-grey;

  width: 100%;

  margin-top: 11px;

  padding-right: 21.84px;
  padding-bottom: 18px;
  padding-left: 21.84px;

  @media screen and (min-width: $tablet-width) {
    border: none;

    padding-left: 0;
  }
}

.header-nav__wrap-top-nav-item-link-img-top {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav__wrap-top-nav-item-link-img {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav__wrap-top-nav-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    display: block;
    background-image: url("../../img/logo-header-top-tablet.svg");
    background-repeat: no-repeat;
    width: 174px;
    height: 52px;
  }
}

.header-nav__wrap-top-nav-item-btn {
  border: none;

  background: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav__wrap-bottom-nav {
  list-style: none;

  width: 100%;

  padding-left: 0;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav__nav-navigation {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    min-width: 440px;
  }
}

.header-nav__wrap-bottom-nav-item {
  border-top: 2px solid $lighter-grey;

  overflow: hidden;
  white-space: nowrap;

  padding: 22px 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 2px solid $lighter-grey;

    @media screen and (min-width: $tablet-width) {
      border: none;
    }
  }

  @media screen and (min-width: $tablet-width) {
    border: none;
  }
}

.header-nav__wrap-bottom-nav-link {
  color: $black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    position: relative;
  }
}

.header-nav__wrap-bottom-nav-link-active {
  @media screen and (min-width: $tablet-width) {
    &::before {
      content: " ";
      display: block;

      width: 100%;
      min-height: 2px;

      background: $green-main;

      position: absolute;
      bottom: -12px;
    }
  }
}
