.map-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-company__container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 320px;

  @media screen and (min-width: $tablet-width) {
    display: block;

    max-width: 1439px;
  }
}

.map-company-img {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.map-company-img-pin {
  position: absolute;
  top: 38%;
  left: 42%;

  &:hover {
    cursor: pointer;

    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.map-company-img-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;

    width: 100%;
  }

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.map-company-img-desktop {
  display: none;

  @media screen and (min-width: $desktop-width) {
    display: block;

    width: 100%;
  }
}

.map-company-img-pin-tablet {
  display: none;

  &:hover {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: block;

      cursor: pointer;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: block;

    position: absolute;
    top: 38%;
    left: 43%;
  }

  @media screen and (min-width: $desktop-width) {
    top: 32%;
    left: 63%;
  }
}
