.program-eat {
  @media screen and (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.program-eat__header {
  color: $black;
  font-size: 36px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: none;

  margin-top: 27px;
  margin-right: 20px;
  margin-left: 20px;

  padding-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-right: 39px;
    margin-left: 39px;
  }
}

.program-eat__p {
  color: $black;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  margin-top: 7px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-right: 39px;
    margin-left: 39px;
  }
}

.program-eat__form {
  margin-top: 9px;

  border-top: 1px solid $very-lighter-grey;
  border-bottom: 1px solid $very-lighter-grey;

  @media screen and (min-width: $tablet-width) {
    margin-right: 39px;
    margin-left: 39px;

    border-top: 1px solid $special-grey;
    border-bottom: 1px solid $special-grey;
  }
}

.program-eat__form-ul {
  list-style: none;

  margin-right: 20px;
  margin-left: 20px;

  padding-left: 0;

  @media screen and (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.program-eat__form-ul-item-data-p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.program-eat__form-ul-item-data-label {
  color: $light-black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  min-width: fit-content;

  margin-right: 14px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.program-eat__form-ul-item-data-input {
  width: 100%;
  min-width: 176px;
  min-height: 46px;

  border: 1px solid $very-light-grey;

  &::placeholder {
    color: $light-black;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;

    padding-top: 13.2px;
    padding-right: 15.12px;
    padding-bottom: 14.8px;
    padding-left: 15.12px;

    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
      line-height: normal;

      padding-top: 10.4px;
      padding-bottom: 11.8px;
      padding-left: 18.68px;

      border: 1px solid $special-grey;
    }
  }

  @media screen and (min-width: $tablet-width) {
    min-width: 500px;
    min-height: 52px;
  }
}

.program-eat__form-ul-option {
  list-style: none;

  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 19.38px;
  padding-left: 20px;

  border-top: 1px solid $very-light-grey;
  border-bottom: 1px solid $very-light-grey;

  @media screen and (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 29px;
    padding-left: 27.97px;

    border: 2px solid $special-grey;
  }
}

.program-eat__form-ul-option-item {
  padding-top: 23px;
  padding-bottom: 19.38px;

  &:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:last-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.program-eat__form-ul-option-item-input {
  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.program-eat__form-ul-option-item-label {
  color: $lighter-black;
  font-size: 16px;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.program-eat__block {
  border: none;
}

.program-eat__block-data {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 20.57px;
  padding-left: 20px;
}

.program-eat__block-comment {
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 20.75px;
  padding-left: 20px;

  @media screen and (min-width: $tablet-width) {
    padding-left: 25px;
  }
}

.program-eat__block-add-personal {
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 32px;
  padding-left: 20px;
}

.program-eat__block-add {
  display: flex;
  align-items: center;

  width: 100%;

  margin-right: 14px;

  position: relative;

  color: $black;
  font-size: 24px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-transform: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-right: 0;
    margin-left: -25px;
  }
}

.program-eat__block-add-br {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.program-eat__block-add-span-left {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;

    position: absolute;
    left: -71px;

    width: auto;
    min-width: 30px;
    min-height: 2px;

    background-color: $green-main;
  }
}

.program-eat__block-add-span-right {
  display: block;

  position: absolute;
  right: -15px;

  margin-right: -21px;

  width: auto;
  min-width: 100px;
  min-height: 2px;

  background-color: $green-main;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    right: -110px;

    margin-right: 0;

    width: auto;
    min-width: 145px;
    min-height: 2px;
  }
}

.program-eat__block-add-span-comment-left {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;

    min-width: 30px;
    min-height: 2px;

    position: absolute;
    left: -75px;

    background-color: $green-main;
  }
}

.program-eat__block-add-span-comment-right {
  position: absolute;
  right: -32px;

  min-width: 158px;
  min-height: 2px;

  background-color: $green-main;

  @media screen and (min-width: $tablet-width) {
    min-width: 448px;

    right: -110px;
  }
}

.program-eat__block-add-span-add-personal-left {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;

    min-width: 30px;
    min-height: 2px;

    position: absolute;
    left: -75px;

    background-color: #68b738;
  }
}

.program-eat__block-add-span-add-personal-right {
  position: absolute;
  right: -32px;

  min-width: 136px;
  min-height: 2px;

  background-color: $green-main;

  @media screen and (min-width: $tablet-width) {
    right: -110px;

    min-width: 440px;
  }
}

.program-eat__block-add-wrap {
  @media screen and (min-width: $tablet-width) {
    margin-left: -18px;
  }
}

.program-eat__block-add-wrap-comment {
  width: 100%;
  min-height: 150.52px;

  padding-top: 9.27px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 15px;

  @media screen and (min-width: $tablet-width) {
    min-width: 581px;
    min-height: 174px;

    padding-top: 10px;
    padding-left: 19px;
  }

  &::placeholder {
    color: $light-black;
    font-size: 15.7px;
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.program-eat__block-ul {
  list-style: none;

  padding-left: 0;
}

.program-eat__block-ul-li-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  position: relative;
}

.program-eat__block-ul-li-wrap-label {
  color: $light-black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  min-width: fit-content;

  margin-right: 11px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.program-eat__block-ul-li-wrap-input {
  width: 100%;
  min-width: 176px;
  min-height: 46px;

  border: 1px solid $very-light-grey;

  @media screen and (min-width: $tablet-width) {
    min-width: 491px;
    min-height: 52px;
  }

  &::placeholder {
    color: $light-black;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;

    padding-top: 13.45px;
    padding-right: 51px;
    padding-bottom: 15.45px;
    padding-left: 10px;

    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
      line-height: normal;

      padding-top: 10px;
      padding-right: 51px;
      padding-bottom: 10px;
      padding-left: 21.24px;
    }
  }
}

.program-eat__block-ul-li-wrap-input-email {
  display: block;

  position: absolute;
  right: 16px;

  width: 20px;
  min-height: 14.05px;

  background-image: url("../../img/icon-email-mobile.svg");
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-width) {
    right: 21px;

    width: 20px;
    min-height: 13px;
  }
}

.program-eat__block-ul-li-wrap-input-tel {
  display: block;

  position: absolute;
  right: 13px;

  width: 20px;
  min-height: 20.07px;

  background-image: url("../../img/icon-phone-mobile.svg");
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-width) {
    right: 17px;

    width: 20px;
    min-height: 20px;
  }
}

.program-eat__block-items {
  list-style: none;

  margin-top: 34px;

  padding-left: 0;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    width: 100%;
    min-height: 180px;
  }
}

.program-eat__block-item {
  &:first-child {
    @media screen and (min-width: $tablet-width) {
      margin-right: 123px;
    }
  }

  &:nth-child(2n + 1) {
    @media screen and (min-width: $tablet-width) {
      margin-right: 123px;
    }
  }
}

.program-eat__block-item-tablet {
  @media screen and (min-width: $tablet-width) {
    margin-left: 94px;
  }
}

.program-eat__block-item-input {
  margin-right: 18px;
}

.program-eat__block-item-label {
  color: $black;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.program-eat__block-button {
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.program-eat__block-button-elem {
  border: none;

  background-color: $green-main;

  width: 100%;
  min-height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;

  color: $white;
  font-size: 16px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0;

    width: 262px;
    min-height: 52px;

    margin-right: 61px;
  }

  &:hover {
    cursor: pointer;
  }
}

.program-eat__block-button-p {
  color: $black;
  font-size: 14px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
  }
}
