.use-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: $very-lighter-grey;

  @media screen and (min-width: $tablet-width) {
    position: relative;

    padding-right: 30px;
    padding-left: 30px;

    background-color: $white;
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.use-product__inner {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop-width) {
    width: 100%;
  }
}

.use-product__header {
  color: $black;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  text-transform: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;

    z-index: 2;
  }
}

.use-product__info {
  color: $light-black;
  font-size: 14px;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: none;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;

    z-index: 2;
  }
}

.use-product__info-mobile {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.use-product__info-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.use-product__info-desktop {
  display: none;

  @media screen and (min-width: $desktop-width) {
    display: block;
  }
}

.use-product__wrap {
  margin-top: 5px;

  padding-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    z-index: 2;
  }
}

.use-product__container {
  display: flex;
  justify-content: space-between;
}

.use-product__change {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 124px;
  height: 76px;

  margin-right: 1px;
  margin-left: 1px;

  border: 1px solid $very-lighter-grey-two;

  text-align: center;

  transform: rotate(180deg);

  &:first-child {
    @media screen and (min-width: $tablet-width) {
      margin-right: 42px;
    }
  }
}

.use-product__change-legend {
  color: $light-black;
  font-size: 9px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
  transform: rotate(180deg);

  padding-right: 18px;
  padding-left: 18px;

  @media screen and (min-width: $tablet-width) {
    font-size: 12.8px;
    line-height: 14px;

    padding-right: 10px;
    padding-left: 10px;
  }
}

.use-product__change-legend-br-tablet {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.use-product__change-p {
  color: $black;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  transform: rotate(180deg);

  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    line-height: 37px;

    min-width: 162px;
    min-height: 77px;
  }
}

.use-product__change-p-money {
  color: $black;
  font-size: 14px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;

  padding-top: 6px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.use-product__change-p-money-span {
  @media screen and (min-width: $desktop-width) {
    padding-right: 83px;
  }
}

.use-product__change-p-money-br-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.use-product__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $desktop-width) {
    margin-top: -499px;
    margin-right: -612px;
  }
}

.use-product__slider-ul {
  padding-bottom: 12px;
  padding-left: 0;

  list-style: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: stretch;

    z-index: 1;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: -144px;
  }
}

.use-product__slider-ul-item-tablet-left {
  @media screen and (min-width: $tablet-width) {
    display: block;

    background-image: url("../../img/cat-before-tablet.png");
    background-repeat: no-repeat;
    width: 354px;
    height: 620px;
  }
}

.use-product__slider-ul-item-tablet-right {
  @media screen and (min-width: $tablet-width) {
    display: block;

    background-image: url("../../img/cat-after-tablet.png");
    background-repeat: no-repeat;
    width: 354px;
    height: 667px;
  }
}

.use-product__slider-ul-img {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.use-product__slider-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 11px;
  padding-bottom: 25px;

  min-width: 228px;
  min-height: 40px;

  @media screen and (min-width: $tablet-width) {
    position: relative;

    min-width: 570px;

    margin-top: -132px;

    justify-content: space-between;

    z-index: 2;
  }
}

.use-product__slider-buttons-label {
  color: $black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.use-product__slider-buttons-fieldset {
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 84px;
  min-height: 14px;

  padding-top: 0;
  padding-bottom: 0;
}

.use-product__slider-buttons-label-mobile {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.use-product__slider-buttons-label-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.use-product__slider-buttons-input-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;

    width: 428px;
  }
}

.use-product__slider-buttons-input-mobile {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.use-product__bg-tablet {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;

    background-color: $light-grey;

    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 462px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 308px;
  }
}
