.master {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;

  margin: 0 auto;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $black;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;

  position: fixed;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
