//Цвет
$black: #000000;
$lite-black: #121212;
$light-black: #444444;
$lighter-black: #222222;
$dark-black: #111111;
$white: #ffffff;
$lighter-grey: #e6e6e6;
$very-lighter-grey: #eaeaea;
$very-lighter-grey-two: #cdcdcd;
$light-grey: #f2f2f2;
$light-grey-rgba: #f2f2f2;
$very-light-grey: rgba(231, 231, 231, 0.3);
$grey: #d9d9d9;
$green-main: #68b738;

// Ширина макетов
$tablet-width: 768px;
$mix-tablet-desktop-width: 842px;
$max-tablet-width: 1439px;

$desktop-width: 1440px;
